:host([data-theme=dark]),
:root[data-theme=dark],
[data-theme=dark] {
  color-scheme: dark;
  --t-color-primary-0: var(--t-color-sky-0);
  --t-color-primary-1: var(--t-color-sky-1);
  --t-color-primary-2: var(--t-color-sky-2);
  --t-color-primary-3: var(--t-color-sky-3);
  --t-color-primary-4: var(--t-color-sky-4);
  --t-color-primary-5: var(--t-color-sky-5);
  --t-color-primary-6: var(--t-color-sky-6);
  --t-color-primary-7: var(--t-color-sky-7);
  --t-color-primary-8: var(--t-color-sky-8);
  --t-color-primary-9: var(--t-color-sky-9);
  --t-color-primary-10: var(--t-color-sky-10);
  --t-color-success-0: var(--t-color-green-0);
  --t-color-success-1: var(--t-color-green-1);
  --t-color-success-2: var(--t-color-green-2);
  --t-color-success-3: var(--t-color-green-3);
  --t-color-success-4: var(--t-color-green-4);
  --t-color-success-5: var(--t-color-green-5);
  --t-color-success-6: var(--t-color-green-6);
  --t-color-success-7: var(--t-color-green-7);
  --t-color-success-8: var(--t-color-green-8);
  --t-color-success-9: var(--t-color-green-9);
  --t-color-success-10: var(--t-color-green-10);
  --t-color-warning-0: var(--t-color-amber-0);
  --t-color-warning-1: var(--t-color-amber-1);
  --t-color-warning-2: var(--t-color-amber-2);
  --t-color-warning-3: var(--t-color-amber-3);
  --t-color-warning-4: var(--t-color-amber-4);
  --t-color-warning-5: var(--t-color-amber-5);
  --t-color-warning-6: var(--t-color-amber-6);
  --t-color-warning-7: var(--t-color-amber-7);
  --t-color-warning-8: var(--t-color-amber-8);
  --t-color-warning-9: var(--t-color-amber-9);
  --t-color-warning-10: var(--t-color-amber-10);
  --t-color-danger-0: var(--t-color-red-0);
  --t-color-danger-1: var(--t-color-red-1);
  --t-color-danger-2: var(--t-color-red-2);
  --t-color-danger-3: var(--t-color-red-3);
  --t-color-danger-4: var(--t-color-red-4);
  --t-color-danger-5: var(--t-color-red-5);
  --t-color-danger-6: var(--t-color-red-6);
  --t-color-danger-7: var(--t-color-red-7);
  --t-color-danger-8: var(--t-color-red-8);
  --t-color-danger-9: var(--t-color-red-9);
  --t-color-danger-10: var(--t-color-red-10);
  --t-color-info-0: var(--t-color-gray-0);
  --t-color-info-1: var(--t-color-gray-1);
  --t-color-info-2: var(--t-color-gray-2);
  --t-color-info-3: var(--t-color-gray-3);
  --t-color-info-4: var(--t-color-gray-4);
  --t-color-info-5: var(--t-color-gray-5);
  --t-color-info-6: var(--t-color-gray-6);
  --t-color-info-7: var(--t-color-gray-7);
  --t-color-info-8: var(--t-color-gray-8);
  --t-color-info-9: var(--t-color-gray-9);
  --t-color-info-10: var(--t-color-gray-10);
  --t-primary-color: var(--t-color-primary-5);
  --t-success-color: var(--t-color-success-5);
  --t-warning-color: var(--t-color-warning-5);
  --t-danger-color: var(--t-color-danger-5);
  --t-info-color: var(--t-color-info-5);
  --t-color-theme-0: hsl(240, 5.1%, 15%);
  --t-color-theme-1: hsl(240, 5.7%, 18.2%);
  --t-color-theme-2: hsl(240, 4.6%, 22%);
  --t-color-theme-3: hsl(240, 5%, 27.6%);
  --t-color-theme-4: hsl(240, 5%, 35.5%);
  --t-color-theme-5: hsl(240, 3.7%, 44%);
  --t-color-theme-6: hsl(240, 5.3%, 58%);
  --t-color-theme-7: hsl(240, 5.6%, 73%);
  --t-color-theme-8: hsl(240, 7.3%, 84%);
  --t-color-theme-9: hsl(240, 9.1%, 91.8%);
  --t-color-theme-10: hsl(0, 0%, 95%);
  --t-theme-color: var(--t-color-theme-10);
  --t-theme-bgcolor: hsl(240, 5.9%, 11%);
  --t-theme-bgcolor-1: var(--t-color-theme-0);
  --t-theme-bgcolor-2: var(--t-color-theme-1);
  --t-theme-bgcolor-3: var(--t-color-theme-2);
  --t-theme-bgcolor-4: var(--t-color-theme-3);
}
