.row {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 0.5rem;
    padding: 1em;
    background: var(--auto-bgcolor);
}

.row>* {
    flex-grow: 1;
}

.row.wrap {
    flex-wrap: wrap;
}

.inline-row {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 0.5rem;
    padding: 0.5em;
    background: var(--auto-bgcolor);
}

.col {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 0.5rem;
    padding: 1em;
    background: var(--auto-bgcolor);
}

.col>* {
    width: 100%;
}

.key-colors {
    display: flex;
    padding: 0.5em;
    align-items: center;
    justify-content: center;
    flex-direction: row;
    gap: 0.5em;
}

.key-colors .color {
    color: #aaa;
    flex-grow: 1;
    border-radius: 4px;
    text-align: center;
    padding: 0.5em;
    cursor: pointer;
}

button {
    border: 1px solid var(--auto-primery-color);
    font-size: 2rem;
    padding: var(--auto-padding);
    cursor: pointer;
}

.themes {
    display: flex;
    flex-direction: row;
    gap: 0.5rem;
    padding: 1rem;
    margin: auto;
}

.list {
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
    padding: 1rem;
    margin: auto;
    background: var(--auto-bgcolor);
    align-items: center;
}

.list>.item {
    display: flex;
    cursor: pointer;
    padding: 0.5rem;
    width: 100%;
    border: var(--auto-border);
    border-radius: var(--auto-border-radius);
    align-items: center;
}

.list>.item:hover {
    background: var(--auto-hover-bgcolor);
}

.list>.item.selected {
    background: var(--auto-selected-bgcolor);
    border: var(--auto-selected-border);
}

.list>.item.hover {
    background: var(--auto-hover-bgcolor);
}

.list>.item :first-child {
    display: inline-block;
    width: 20%;
    text-align: center;
}

.var {
    padding: 0.5em;
    border-radius: 4px;
    color: rgb(198, 54, 32);
    cursor: pointer;
    text-align: center;
    box-sizing: border-box;
    font-size: 0.5em;
    border: var(--auto-border);
}

.theme {
    padding: 0.5em;
    border-radius: var(--auto-border-radius);
    border: var(--auto-border);
    text-align: center;
    cursor: pointer;
    color: white;
}