:host([theme=red]),
:root[data-theme=red],
[data-theme=red] {
  color-scheme: dark;
  --k-color-primary-0: #ffffff;
  --k-color-primary-1: #ffffff;
  --k-color-primary-2: #e8f9da;
  --k-color-primary-3: #ccf3ac;
  --k-color-primary-4: #b0ec7f;
  --k-color-primary-5: #94e552;
  --k-color-primary-6: #80e031;
  --k-color-primary-7: #6dcd1f;
  --k-color-primary-8: #5cac1a;
  --k-color-primary-9: #4a8b15;
  --k-color-primary-10: #396a10;
  --k-primary-bgcolor: var(--k-color-primary-1);
  --k-primary-bgcolor-1: var(--k-color-primary-2);
  --k-primary-bgcolor-2: var(--k-color-primary-3);
  --k-primary-bgcolor-3: var(--k-color-primary-4);
  --k-primary-bgcolor-4: var(--k-color-primary-5);
  --k-color-success-0: var(--k-color-green-0);
  --k-color-success-1: var(--k-color-green-1);
  --k-color-success-2: var(--k-color-green-2);
  --k-color-success-3: var(--k-color-green-3);
  --k-color-success-4: var(--k-color-green-4);
  --k-color-success-5: var(--k-color-green-5);
  --k-color-success-6: var(--k-color-green-6);
  --k-color-success-7: var(--k-color-green-7);
  --k-color-success-8: var(--k-color-green-8);
  --k-color-success-9: var(--k-color-green-9);
  --k-color-success-10: var(--k-color-green-10);
  --k-color-warning-0: var(--k-color-amber-0);
  --k-color-warning-1: var(--k-color-amber-1);
  --k-color-warning-2: var(--k-color-amber-2);
  --k-color-warning-3: var(--k-color-amber-3);
  --k-color-warning-4: var(--k-color-amber-4);
  --k-color-warning-5: var(--k-color-amber-5);
  --k-color-warning-6: var(--k-color-amber-6);
  --k-color-warning-7: var(--k-color-amber-7);
  --k-color-warning-8: var(--k-color-amber-8);
  --k-color-warning-9: var(--k-color-amber-9);
  --k-color-warning-10: var(--k-color-amber-10);
  --k-color-danger-0: var(--k-color-red-0);
  --k-color-danger-1: var(--k-color-red-1);
  --k-color-danger-2: var(--k-color-red-2);
  --k-color-danger-3: var(--k-color-red-3);
  --k-color-danger-4: var(--k-color-red-4);
  --k-color-danger-5: var(--k-color-red-5);
  --k-color-danger-6: var(--k-color-red-6);
  --k-color-danger-7: var(--k-color-red-7);
  --k-color-danger-8: var(--k-color-red-8);
  --k-color-danger-9: var(--k-color-red-9);
  --k-color-danger-10: var(--k-color-red-10);
  --k-color-info-0: var(--k-color-gray-0);
  --k-color-info-1: var(--k-color-gray-1);
  --k-color-info-2: var(--k-color-gray-2);
  --k-color-info-3: var(--k-color-gray-3);
  --k-color-info-4: var(--k-color-gray-4);
  --k-color-info-5: var(--k-color-gray-5);
  --k-color-info-6: var(--k-color-gray-6);
  --k-color-info-7: var(--k-color-gray-7);
  --k-color-info-8: var(--k-color-gray-8);
  --k-color-info-9: var(--k-color-gray-9);
  --k-color-info-10: var(--k-color-gray-10);
  --k-primary-color: var(--k-color-primary-5);
  --k-success-color: var(--k-color-success-5);
  --k-warning-color: var(--k-color-warning-5);
  --k-danger-color: var(--k-color-danger-5);
  --k-info-color: var(--k-color-info-5);
  --k-color-theme-0: #5c0011;
  --k-color-theme-1: #820014;
  --k-color-theme-2: #a8071a;
  --k-color-theme-3: #cf1322;
  --k-color-theme-4: #f5222d;
  --k-color-theme-5: #ff4d4f;
  --k-color-theme-6: #ff7875;
  --k-color-theme-7: #ffa39e;
  --k-color-theme-8: #ffccc7;
  --k-color-theme-9: #fff1f0;
  --k-color-theme-10: #fcf3f2;
  --k-theme-color: var(--k-color-theme-9);
  --k-theme-bgcolor: var(--k-color-theme-1);
  --k-theme-bgcolor-1: var(--k-color-theme-2);
  --k-theme-bgcolor-2: var(--k-color-theme-3);
  --k-theme-bgcolor-3: var(--k-color-theme-4);
  --k-theme-bgcolor-4: var(--k-color-theme-5);
}
