.t-border {
    border: var(--auto-border);
}

.t-radius {
    border-radius: var(--auto-border-radius);
}

.t-title {
    font: var(--auto-title-font);
    font-weight: 500;

    &.colorized {
        color: var(--auto-title-color);
    }
}


// 卡片
.t-card {
    display: flex;
    flex-direction: column;
    background: var(--auto-bgcolor);
    color: var(--auto-color);
    border-radius: var(--auto-border-radius);
    box-shadow: var(--auto-shadow);
    border: var(--auto-border);
    padding: 0;
    box-sizing: border-box;

    &>.t-card-header {
        display: flex;
        flex-direction: row;
        align-items: center;
        border-bottom: var(--auto-border);
        padding: calc(0.8 * var(--auto-spacing));
        border-radius: var(--auto-border-radius) var(--auto-border-radius) 0 0;
        flex-shrink: 0;
        font: var(--auto-title-font);
        color: var(--auto-title-color);
        background: var(--auto-title-bgcolor);

        &>.t-card-title {
            display: flex;
            flex-direction: row;
            align-items: center;
        }

        &+.t-card-body {}
    }

    &>.t-card-body {
        flex: 1 1 auto;
        padding: var(--auto-spacing);
        border-radius: 0 0 var(--auto-border-radius) var(--auto-border-radius);
    }

    &>.t-card-footer {
        padding-top: 1rem;
        padding-bottom: 1rem;
        text-align: right;

        &>*[type='button'] {
            margin-left: auto;
            margin-right: 0;
        }
    }
}