:root,
:host {
    color-scheme: light;

    --t-color-gray-50: hsl(0 0% 97.5%);
    --t-color-gray-100: hsl(240 4.8% 95.9%);
    --t-color-gray-200: hsl(240 5.9% 90%);
    --t-color-gray-300: hsl(240 4.9% 83.9%);
    --t-color-gray-400: hsl(240 5% 64.9%);
    --t-color-gray-500: hsl(240 3.8% 46.1%);
    --t-color-gray-600: hsl(240 5.2% 33.9%);
    --t-color-gray-700: hsl(240 5.3% 26.1%);
    --t-color-gray-800: hsl(240 3.7% 15.9%);
    --t-color-gray-900: hsl(240 5.9% 10%);
    --t-color-gray-950: hsl(240 7.3% 8%);

    --t-color-red-50: hsl(0 85.7% 97.3%);
    --t-color-red-100: hsl(0 93.3% 94.1%);
    --t-color-red-200: hsl(0 96.3% 89.4%);
    --t-color-red-300: hsl(0 93.5% 81.8%);
    --t-color-red-400: hsl(0 90.6% 70.8%);
    --t-color-red-500: hsl(0 84.2% 60.2%);
    --t-color-red-600: hsl(0 72.2% 50.6%);
    --t-color-red-700: hsl(0 73.7% 41.8%);
    --t-color-red-800: hsl(0 70% 35.3%);
    --t-color-red-900: hsl(0 62.8% 30.6%);
    --t-color-red-950: hsl(0 60% 19.6%);

    --t-color-orange-50: hsl(33.3 100% 96.5%);
    --t-color-orange-100: hsl(34.3 100% 91.8%);
    --t-color-orange-200: hsl(32.1 97.7% 83.1%);
    --t-color-orange-300: hsl(30.7 97.2% 72.4%);
    --t-color-orange-400: hsl(27 96% 61%);
    --t-color-orange-500: hsl(24.6 95% 53.1%);
    --t-color-orange-600: hsl(20.5 90.2% 48.2%);
    --t-color-orange-700: hsl(17.5 88.3% 40.4%);
    --t-color-orange-800: hsl(15 79.1% 33.7%);
    --t-color-orange-900: hsl(15.3 74.6% 27.8%);
    --t-color-orange-950: hsl(15.2 69.1% 19%);

    --t-color-amber-50: hsl(48 100% 96.1%);
    --t-color-amber-100: hsl(48 96.5% 88.8%);
    --t-color-amber-200: hsl(48 96.6% 76.7%);
    --t-color-amber-300: hsl(45.9 96.7% 64.5%);
    --t-color-amber-400: hsl(43.3 96.4% 56.3%);
    --t-color-amber-500: hsl(37.7 92.1% 50.2%);
    --t-color-amber-600: hsl(32.1 94.6% 43.7%);
    --t-color-amber-700: hsl(26 90.5% 37.1%);
    --t-color-amber-800: hsl(22.7 82.5% 31.4%);
    --t-color-amber-900: hsl(21.7 77.8% 26.5%);
    --t-color-amber-950: hsl(22.9 74.1% 16.7%);

    --t-color-yellow-50: hsl(54.5 91.7% 95.3%);
    --t-color-yellow-100: hsl(54.9 96.7% 88%);
    --t-color-yellow-200: hsl(52.8 98.3% 76.9%);
    --t-color-yellow-300: hsl(50.4 97.8% 63.5%);
    --t-color-yellow-400: hsl(47.9 95.8% 53.1%);
    --t-color-yellow-500: hsl(45.4 93.4% 47.5%);
    --t-color-yellow-600: hsl(40.6 96.1% 40.4%);
    --t-color-yellow-700: hsl(35.5 91.7% 32.9%);
    --t-color-yellow-800: hsl(31.8 81% 28.8%);
    --t-color-yellow-900: hsl(28.4 72.5% 25.7%);
    --t-color-yellow-950: hsl(33.1 69% 13.9%);

    --t-color-lime-50: hsl(78.3 92% 95.1%);
    --t-color-lime-100: hsl(79.6 89.1% 89.2%);
    --t-color-lime-200: hsl(80.9 88.5% 79.6%);
    --t-color-lime-300: hsl(82 84.5% 67.1%);
    --t-color-lime-400: hsl(82.7 78% 55.5%);
    --t-color-lime-500: hsl(83.7 80.5% 44.3%);
    --t-color-lime-600: hsl(84.8 85.2% 34.5%);
    --t-color-lime-700: hsl(85.9 78.4% 27.3%);
    --t-color-lime-800: hsl(86.3 69% 22.7%);
    --t-color-lime-900: hsl(87.6 61.2% 20.2%);
    --t-color-lime-950: hsl(86.5 60.6% 13.9%);

    --t-color-green-50: hsl(138.5 76.5% 96.7%);
    --t-color-green-100: hsl(140.6 84.2% 92.5%);
    --t-color-green-200: hsl(141 78.9% 85.1%);
    --t-color-green-300: hsl(141.7 76.6% 73.1%);
    --t-color-green-400: hsl(141.9 69.2% 58%);
    --t-color-green-500: hsl(142.1 70.6% 45.3%);
    --t-color-green-600: hsl(142.1 76.2% 36.3%);
    --t-color-green-700: hsl(142.4 71.8% 29.2%);
    --t-color-green-800: hsl(142.8 64.2% 24.1%);
    --t-color-green-900: hsl(143.8 61.2% 20.2%);
    --t-color-green-950: hsl(144.3 60.7% 12%);

    --t-color-emerald-50: hsl(151.8 81% 95.9%);
    --t-color-emerald-100: hsl(149.3 80.4% 90%);
    --t-color-emerald-200: hsl(152.4 76% 80.4%);
    --t-color-emerald-300: hsl(156.2 71.6% 66.9%);
    --t-color-emerald-400: hsl(158.1 64.4% 51.6%);
    --t-color-emerald-500: hsl(160.1 84.1% 39.4%);
    --t-color-emerald-600: hsl(161.4 93.5% 30.4%);
    --t-color-emerald-700: hsl(162.9 93.5% 24.3%);
    --t-color-emerald-800: hsl(163.1 88.1% 19.8%);
    --t-color-emerald-900: hsl(164.2 85.7% 16.5%);
    --t-color-emerald-950: hsl(164.3 87.5% 9.4%);

    --t-color-teal-50: hsl(166.2 76.5% 96.7%);
    --t-color-teal-100: hsl(167.2 85.5% 89.2%);
    --t-color-teal-200: hsl(168.4 83.8% 78.2%);
    --t-color-teal-300: hsl(170.6 76.9% 64.3%);
    --t-color-teal-400: hsl(172.5 66% 50.4%);
    --t-color-teal-500: hsl(173.4 80.4% 40%);
    --t-color-teal-600: hsl(174.7 83.9% 31.6%);
    --t-color-teal-700: hsl(175.3 77.4% 26.1%);
    --t-color-teal-800: hsl(176.1 69.4% 21.8%);
    --t-color-teal-900: hsl(175.9 60.8% 19%);
    --t-color-teal-950: hsl(176.5 58.6% 11.4%);

    --t-color-cyan-50: hsl(183.2 100% 96.3%);
    --t-color-cyan-100: hsl(185.1 95.9% 90.4%);
    --t-color-cyan-200: hsl(186.2 93.5% 81.8%);
    --t-color-cyan-300: hsl(187 92.4% 69%);
    --t-color-cyan-400: hsl(187.9 85.7% 53.3%);
    --t-color-cyan-500: hsl(188.7 94.5% 42.7%);
    --t-color-cyan-600: hsl(191.6 91.4% 36.5%);
    --t-color-cyan-700: hsl(192.9 82.3% 31%);
    --t-color-cyan-800: hsl(194.4 69.6% 27.1%);
    --t-color-cyan-900: hsl(196.4 63.6% 23.7%);
    --t-color-cyan-950: hsl(196.8 61% 16.1%);

    --t-color-sky-50: hsl(204 100% 97.1%);
    --t-color-sky-100: hsl(204 93.8% 93.7%);
    --t-color-sky-200: hsl(200.6 94.4% 86.1%);
    --t-color-sky-300: hsl(199.4 95.5% 73.9%);
    --t-color-sky-400: hsl(198.4 93.2% 59.6%);
    --t-color-sky-500: hsl(198.6 88.7% 48.4%);
    --t-color-sky-600: hsl(200.4 98% 39.4%);
    --t-color-sky-700: hsl(201.3 96.3% 32.2%);
    --t-color-sky-800: hsl(201 90% 27.5%);
    --t-color-sky-900: hsl(202 80.3% 23.9%);
    --t-color-sky-950: hsl(202.3 73.8% 16.5%);

    --t-color-blue-50: hsl(213.8 100% 96.9%);
    --t-color-blue-100: hsl(214.3 94.6% 92.7%);
    --t-color-blue-200: hsl(213.3 96.9% 87.3%);
    --t-color-blue-300: hsl(211.7 96.4% 78.4%);
    --t-color-blue-400: hsl(213.1 93.9% 67.8%);
    --t-color-blue-500: hsl(217.2 91.2% 59.8%);
    --t-color-blue-600: hsl(221.2 83.2% 53.3%);
    --t-color-blue-700: hsl(224.3 76.3% 48%);
    --t-color-blue-800: hsl(225.9 70.7% 40.2%);
    --t-color-blue-900: hsl(224.4 64.3% 32.9%);
    --t-color-blue-950: hsl(226.2 55.3% 18.4%);

    --t-color-indigo-50: hsl(225.9 100% 96.7%);
    --t-color-indigo-100: hsl(226.5 100% 93.9%);
    --t-color-indigo-200: hsl(228 96.5% 88.8%);
    --t-color-indigo-300: hsl(229.7 93.5% 81.8%);
    --t-color-indigo-400: hsl(234.5 89.5% 73.9%);
    --t-color-indigo-500: hsl(238.7 83.5% 66.7%);
    --t-color-indigo-600: hsl(243.4 75.4% 58.6%);
    --t-color-indigo-700: hsl(244.5 57.9% 50.6%);
    --t-color-indigo-800: hsl(243.7 54.5% 41.4%);
    --t-color-indigo-900: hsl(242.2 47.4% 34.3%);
    --t-color-indigo-950: hsl(243.5 43.6% 22.9%);

    --t-color-violet-50: hsl(250 100% 97.6%);
    --t-color-violet-100: hsl(251.4 91.3% 95.5%);
    --t-color-violet-200: hsl(250.5 95.2% 91.8%);
    --t-color-violet-300: hsl(252.5 94.7% 85.1%);
    --t-color-violet-400: hsl(255.1 91.7% 76.3%);
    --t-color-violet-500: hsl(258.3 89.5% 66.3%);
    --t-color-violet-600: hsl(262.1 83.3% 57.8%);
    --t-color-violet-700: hsl(263.4 70% 50.4%);
    --t-color-violet-800: hsl(263.4 69.3% 42.2%);
    --t-color-violet-900: hsl(263.5 67.4% 34.9%);
    --t-color-violet-950: hsl(265.1 61.5% 21.4%);

    --t-color-purple-50: hsl(270 100% 98%);
    --t-color-purple-100: hsl(268.7 100% 95.5%);
    --t-color-purple-200: hsl(268.6 100% 91.8%);
    --t-color-purple-300: hsl(269.2 97.4% 85.1%);
    --t-color-purple-400: hsl(270 95.2% 75.3%);
    --t-color-purple-500: hsl(270.7 91% 65.1%);
    --t-color-purple-600: hsl(271.5 81.3% 55.9%);
    --t-color-purple-700: hsl(272.1 71.7% 47.1%);
    --t-color-purple-800: hsl(272.9 67.2% 39.4%);
    --t-color-purple-900: hsl(273.6 65.6% 32%);
    --t-color-purple-950: hsl(276 59.5% 16.5%);

    --t-color-fuchsia-50: hsl(289.1 100% 97.8%);
    --t-color-fuchsia-100: hsl(287 100% 95.5%);
    --t-color-fuchsia-200: hsl(288.3 95.8% 90.6%);
    --t-color-fuchsia-300: hsl(291.1 93.1% 82.9%);
    --t-color-fuchsia-400: hsl(292 91.4% 72.5%);
    --t-color-fuchsia-500: hsl(292.2 84.1% 60.6%);
    --t-color-fuchsia-600: hsl(293.4 69.5% 48.8%);
    --t-color-fuchsia-700: hsl(294.7 72.4% 39.8%);
    --t-color-fuchsia-800: hsl(295.4 70.2% 32.9%);
    --t-color-fuchsia-900: hsl(296.7 63.6% 28%);
    --t-color-fuchsia-950: hsl(297.1 56.8% 14.5%);

    --t-color-pink-50: hsl(327.3 73.3% 97.1%);
    --t-color-pink-100: hsl(325.7 77.8% 94.7%);
    --t-color-pink-200: hsl(325.9 84.6% 89.8%);
    --t-color-pink-300: hsl(327.4 87.1% 81.8%);
    --t-color-pink-400: hsl(328.6 85.5% 70.2%);
    --t-color-pink-500: hsl(330.4 81.2% 60.4%);
    --t-color-pink-600: hsl(333.3 71.4% 50.6%);
    --t-color-pink-700: hsl(335.1 77.6% 42%);
    --t-color-pink-800: hsl(335.8 74.4% 35.3%);
    --t-color-pink-900: hsl(335.9 69% 30.4%);
    --t-color-pink-950: hsl(336.2 65.4% 15.9%);

    --t-color-rose-50: hsl(355.7 100% 97.3%);
    --t-color-rose-100: hsl(355.6 100% 94.7%);
    --t-color-rose-200: hsl(352.7 96.1% 90%);
    --t-color-rose-300: hsl(352.6 95.7% 81.8%);
    --t-color-rose-400: hsl(351.3 94.5% 71.4%);
    --t-color-rose-500: hsl(349.7 89.2% 60.2%);
    --t-color-rose-600: hsl(346.8 77.2% 49.8%);
    --t-color-rose-700: hsl(345.3 82.7% 40.8%);
    --t-color-rose-800: hsl(343.4 79.7% 34.7%);
    --t-color-rose-900: hsl(341.5 75.5% 30.4%);
    --t-color-rose-950: hsl(341.3 70.1% 17.1%);

    --t-color-primary-50: var(--t-color-sky-50);
    --t-color-primary-100: var(--t-color-sky-100);
    --t-color-primary-200: var(--t-color-sky-200);
    --t-color-primary-300: var(--t-color-sky-300);
    --t-color-primary-400: var(--t-color-sky-400);
    --t-color-primary-500: var(--t-color-sky-500);
    --t-color-primary-600: var(--t-color-sky-600);
    --t-color-primary-700: var(--t-color-sky-700);
    --t-color-primary-800: var(--t-color-sky-800);
    --t-color-primary-900: var(--t-color-sky-900);
    --t-color-primary-950: var(--t-color-sky-950);

    --t-color-success-50: var(--t-color-green-50);
    --t-color-success-100: var(--t-color-green-100);
    --t-color-success-200: var(--t-color-green-200);
    --t-color-success-300: var(--t-color-green-300);
    --t-color-success-400: var(--t-color-green-400);
    --t-color-success-500: var(--t-color-green-500);
    --t-color-success-600: var(--t-color-green-600);
    --t-color-success-700: var(--t-color-green-700);
    --t-color-success-800: var(--t-color-green-800);
    --t-color-success-900: var(--t-color-green-900);
    --t-color-success-950: var(--t-color-green-950);

    --t-color-warning-50: var(--t-color-amber-50);
    --t-color-warning-100: var(--t-color-amber-100);
    --t-color-warning-200: var(--t-color-amber-200);
    --t-color-warning-300: var(--t-color-amber-300);
    --t-color-warning-400: var(--t-color-amber-400);
    --t-color-warning-500: var(--t-color-amber-500);
    --t-color-warning-600: var(--t-color-amber-600);
    --t-color-warning-700: var(--t-color-amber-700);
    --t-color-warning-800: var(--t-color-amber-800);
    --t-color-warning-900: var(--t-color-amber-900);
    --t-color-warning-950: var(--t-color-amber-950);

    --t-color-danger-50: var(--t-color-red-50);
    --t-color-danger-100: var(--t-color-red-100);
    --t-color-danger-200: var(--t-color-red-200);
    --t-color-danger-300: var(--t-color-red-300);
    --t-color-danger-400: var(--t-color-red-400);
    --t-color-danger-500: var(--t-color-red-500);
    --t-color-danger-600: var(--t-color-red-600);
    --t-color-danger-700: var(--t-color-red-700);
    --t-color-danger-800: var(--t-color-red-800);
    --t-color-danger-900: var(--t-color-red-900);
    --t-color-danger-950: var(--t-color-red-950);

    --t-color-neutral-50: var(--t-color-gray-50);
    --t-color-neutral-100: var(--t-color-gray-100);
    --t-color-neutral-200: var(--t-color-gray-200);
    --t-color-neutral-300: var(--t-color-gray-300);
    --t-color-neutral-400: var(--t-color-gray-400);
    --t-color-neutral-500: var(--t-color-gray-500);
    --t-color-neutral-600: var(--t-color-gray-600);
    --t-color-neutral-700: var(--t-color-gray-700);
    --t-color-neutral-800: var(--t-color-gray-800);
    --t-color-neutral-900: var(--t-color-gray-900);
    --t-color-neutral-950: var(--t-color-gray-950);

    --t-color-neutral-0: hsl(0, 0%, 100%);
    --t-color-neutral-1000: hsl(0, 0%, 0%);

    --t-border-radius-x-small: 0.1215rem;
    --t-border-radius-small: 0.1875rem;
    --t-border-radius-medium: 0.25rem;
    --t-border-radius-large: 0.5rem;
    --t-border-radius-x-large: 1rem;

    --t-border-radius-circle: 50%;
    --t-border-radius-pill: 9999px;

    --t-shadow-x-small: 0 1px 2px hsl(240 3.8% 46.1% / 6%);
    --t-shadow-small: 0 1px 2px hsl(240 3.8% 46.1% / 12%);
    --t-shadow-medium: 0 2px 4px hsl(240 3.8% 46.1% / 12%);
    --t-shadow-large: 0 2px 8px hsl(240 3.8% 46.1% / 12%);
    --t-shadow-x-large: 0 4px 16px hsl(240 3.8% 46.1% / 12%);

    --t-spacing-3x-small: 0.125rem;
    --t-spacing-2x-small: 0.25rem;
    --t-spacing-x-small: 0.5rem;
    --t-spacing-small: 0.75rem;
    --t-spacing-medium: 1rem;
    --t-spacing-large: 1.25rem;
    --t-spacing-x-large: 1.75rem;
    --t-spacing-2x-large: 2.25rem;
    --t-spacing-3x-large: 3rem;
    --t-spacing-4x-large: 4.5rem;

    --t-font-size-x-small: 0.75rem;
    --t-font-size-small: 0.875rem;
    --t-font-size-medium: 1rem;
    --t-font-size-large: 1.25rem;
    --t-font-size-x-large: 1.5rem;
    --t-font-size-2x-large: 2.25rem;
    --t-font-size-3x-large: 3rem;
    --t-font-size-4x-large: 4.5rem;

    --t-font-weight-x-small: 100;
    --t-font-weight-small: 200;
    --t-font-weight-medium: 300;
    --t-font-weight-large: 400;
    --t-font-weight-x-large: 500;

    --t-letter-spacing-x-small: -0.03em;
    --t-letter-spacing-small: -0.015em;
    --t-letter-spacing-medium: normal;
    --t-letter-spacing-large: 0.075em;
    --t-letter-spacing-x-large: 0.15em;

    --t-line-height-x-small: 1;
    --t-line-height-small: 1.3;
    --t-line-height-medium: 1.5;
    --t-line-height-large: 2;
    --t-line-height-x-large: 2.5;

    --t-z-index-drawer: 700;
    --t-z-index-dialog: 800;
    --t-z-index-dropdown: 900;
    --t-z-index-toast: 950;
    --t-z-index-tooltip: 1000;

    /* Input */
    --t-input-height-x-small: 1.5rem;
    --t-input-height-small: 1.875rem;
    --t-input-height-medium: 2.5rem;
    --t-input-height-large: 3.125rem;
    --t-input-height-x-large: 4.125rem;

    --t-input-bgcolor: var(--t-color-neutral-0);
    --t-input-bgcolor-hover: var(--t-input-bgcolor);
    --t-input-bgcolor-focus: var(--t-input-bgcolor);
    --t-input-bgcolor-disabled: var(--t-color-neutral-100);
    --t-input-border-color: var(--t-color-neutral-400);
    --t-input-border-color-hover: var(--t-color-neutral-500);
    --t-input-border-color-focus: var(--t-color-primary-600);
    --t-input-border-color-disabled: var(--t-color-neutral-400);
    --t-input-border-width: 1px;
    --t-input-required-content: "*";
    --t-input-required-content-offset: -2px;
    --t-input-required-content-color: var(--t-input-label-color);

    --t-input-border-radius-x-small: var(--t-border-radius-x-small);
    --t-input-border-radius-small: var(--t-border-radius-small);
    --t-input-border-radius-medium: var(--t-border-radius-medium);
    --t-input-border-radius-large: var(--t-border-radius-large);
    --t-input-border-radius-x-large: var(--t-border-radius-x-large);

    --t-input-font-family: var(--t-font-sans);
    --t-input-font-weight: var(--t-font-weight-normal);
    --t-input-font-size-x-small: var(--t-font-size-x-small);
    --t-input-font-size-small: var(--t-font-size-small);
    --t-input-font-size-medium: var(--t-font-size-medium);
    --t-input-font-size-large: var(--t-font-size-large);
    --t-input-font-size-x-large: var(--t-font-size-x-large);
    --t-input-letter-spacing: var(--t-letter-spacing-normal);

    --t-input-color: var(--t-color-neutral-700);
    --t-input-color-hover: var(--t-color-neutral-700);
    --t-input-color-focus: var(--t-color-neutral-700);
    --t-input-color-disabled: var(--t-color-neutral-900);
    --t-input-icon-color: var(--t-color-neutral-500);
    --t-input-icon-color-hover: var(--t-color-neutral-600);
    --t-input-icon-color-focus: var(--t-color-neutral-600);
    --t-input-placeholder-color: var(--t-color-neutral-500);
    --t-input-placeholder-color-disabled: var(--t-color-neutral-600);
    --t-input-spacing-x-small: var(--t-spacing-x-small);
    --t-input-spacing-small: var(--t-spacing-small);
    --t-input-spacing-medium: var(--t-spacing-medium);
    --t-input-spacing-large: var(--t-spacing-large);
    --t-input-spacing-x-large: var(--t-spacing-x-large);

    --t-input-focus-ring-color: hsl(198.6 88.7% 48.4% / 40%);
    --t-input-focus-ring-offset: 0;

    --t-input-filled-bgcolor: var(--t-color-neutral-100);
    --t-input-filled-bgcolor-hover: var(--t-color-neutral-100);
    --t-input-filled-bgcolor-focus: var(--t-color-neutral-100);
    --t-input-filled-bgcolor-disabled: var(--t-color-neutral-100);
    --t-input-filled-color: var(--t-color-neutral-800);
    --t-input-filled-color-hover: var(--t-color-neutral-800);
    --t-input-filled-color-focus: var(--t-color-neutral-700);
    --t-input-filled-color-disabled: var(--t-color-neutral-800);

    --t-input-label-font-size-x-small: var(--t-font-size-x-small);
    --t-input-label-font-size-small: var(--t-font-size-small);
    --t-input-label-font-size-medium: var(--t-font-size-medium);
    --t-input-label-font-size-large: var(--t-font-size-large);
    --t-input-label-font-size-x-large: var(--t-font-size-x-large);
    --t-input-label-color: inherit;

    --t-input-help-text-font-size-x-small: var(--t-font-size-x-small);
    --t-input-help-text-font-size-small: var(--t-font-size-small);
    --t-input-help-text-font-size-medium: var(--t-font-size-medium);
    --t-input-help-text-font-size-large: var(--t-font-size-large);
    --t-input-help-text-font-size-x-large: var(--t-font-size-x-large);
    --t-input-help-text-color: var(--t-color-neutral-600);
}