:host,
:root {
    --t-color-primary: #2f54eb;
    --t-color-success: #22c55e;
    --t-color-danger: #ef4444;
    --t-color-warning: #f59e0b;
    --t-color-info: #71717a;
    --t-color-gray-0: #ffff;
    --t-color-gray-1: #fafafa;
    --t-color-gray-2: #f5f5f5;
    --t-color-gray-3: #f0f0f0;
    --t-color-gray-4: #dedede;
    --t-color-gray-5: #c2c2c2;
    --t-color-gray-6: #979797;
    --t-color-gray-7: #818181;
    --t-color-gray-8: #606060;
    --t-color-gray-9: #3c3c3c;
}