:host,
:root {
    --t-color-gray-0: hsl(0 0% 97.5%);
    --t-color-gray-1: hsl(240 4.8% 95.9%);
    --t-color-gray-2: hsl(240 5.9% 90%);
    --t-color-gray-3: hsl(240 4.9% 83.9%);
    --t-color-gray-4: hsl(240 5% 64.9%);
    --t-color-gray-5: hsl(240 3.8% 46.1%);
    --t-color-gray-6: hsl(240 5.2% 33.9%);
    --t-color-gray-7: hsl(240 5.3% 26.1%);
    --t-color-gray-8: hsl(240 3.7% 15.9%);
    --t-color-gray-9: hsl(240 5.9% 10%);
    --t-color-gray-10: hsl(240 7.3% 8%);

    --t-color-primary: #2f54eb;
    --t-color-success: #22c55e;
    --t-color-danger: #ef4444;
    --t-color-warning: #f59e0b;
    --t-color-info: #71717a;
}